<let/user={
  id: 1,
  username: "abcdefg",
  email: "abcdefg@example.com",
}>
<const/updateUsername(newUsername) {
  user = { ...user, username: newUsername };
}>

<h1>欢迎回来, ${user.username}</h1>
<context={ ...user, updateUsername }>
  <UserProfile />
</context>
